{% extends 'base.html' %}
{% load staticfiles %}
{% block breadcrumb %}
    <div class="page-header-content">
        <div class="page-title">
            <h5>
                <i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Dashboard</span>

                <small class="display-block"></small>
            </h5>
        </div>

        <div class="heading-elements">
            <ul class="breadcrumb heading-text">
                <li><a href="index.html"><i class="icon-home2 position-left"></i> Home</a></li>
                <li><a href="components_breadcrumbs.html">Components</a></li>
                <li class="active">Location</li>
            </ul>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="content-wrapper">

        <!-- Sidebars overview -->
        <div class="panel panel-success ">
            <div class="panel-heading">
                <h5 class="panel-title">Project</h5>
                <div class="heading-elements">
                    <ul class="icons-list">
                        <li><a data-action="collapse"></a></li>
                        <li><a data-action="reload"></a></li>
                        <li><a data-action="close"></a></li>
                    </ul>
                </div>
            </div>

            <div class="panel-body">
                dashboard surveyor
                {#      <div id="surveyContainer"></div>#}
            </div>
        </div>

        <!-- /sidebar classes -->

    </div>
{% endblock %}

{% block costum_js %}

    <link href="{% static 'assets/css/survey/survey.css' %}" type="text/css" rel="stylesheet"/>
    <script src="{% static 'assets/js/plugins/survey/survey.jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/survey/popper.min.js' %}"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>


    <script type="text/javascript">
        var surveyJSON = {
            title: "Tell us, what technologies do you use?", pages: [
                {
                    name: "page1", questions: [
                        {
                            type: "radiogroup",
                            choices: ["Yes", "No"],
                            isRequired: true,
                            name: "frameworkUsing",
                            title: "Do you use any front-end framework like Bootstrap?"
                        },
                        {
                            type: "checkbox",
                            choices: ["Bootstrap", "Foundation"],
                            hasOther: true,
                            isRequired: true,
                            name: "framework",
                            title: "What front-end framework do you use?",
                            visibleIf: "{frameworkUsing} = 'Yes'"
                        }
                    ]
                },
                {
                    name: "page2", questions: [
                        {
                            type: "radiogroup",
                            choices: ["Yes", "No"],
                            isRequired: true,
                            name: "mvvmUsing",
                            title: "Do you use any MVVM framework?"
                        },
                        {
                            type: "checkbox",
                            choices: ["AngularJS", "KnockoutJS", "React"],
                            hasOther: true,
                            isRequired: true,
                            name: "mvvm",
                            title: "What MVVM framework do you use?",
                            visibleIf: "{mvvmUsing} = 'Yes'"
                        }]
                },
                {
                    name: "page3", questions: [
                        {
                            type: "comment",
                            name: "about",
                            title: "Please tell us about your main requirements for Survey library"
                        }]
                }
            ]
        };

        Survey.StylesManager.applyTheme("bootstrap");


        var survey = new Survey.Model(surveyJSON);
        $("#surveyContainer").Survey({
            model: survey,
            onComplete: sendDataToServer
        });

        function sendDataToServer(survey) {
            var resultAsString = JSON.stringify(survey.data);
            alert(resultAsString); //send Ajax request to your web server.
        }


        survey.surveyPostId = 'e544a02f-7fff-4ffb-b62d-6a9aa16efd7c';

        //You may call survey.sendResult function as another option.
        function sendDataToServer(survey) {
            survey.sendResult('e544a02f-7fff-4ffb-b62d-6a9aa16efd7c');
        }

    </script>
{% endblock %}
