{% extends 'base.html' %}
{% load staticfiles %}
{% block breadcrumb %}
    <div class="page-header-content">
        <div class="page-title">
            <h5>
                <i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Header</span> -
                Breadcrumb
                <small class="display-block">Basic breadcrumb inside page header</small>
            </h5>
        </div>

        <div class="heading-elements">
            <ul class="breadcrumb heading-text">
                <li><a href="{% url 'pm:dashboard' %}"><i class="icon-home2 position-left"></i> Home</a></li>
                <li><a href="components_breadcrumbs.html">Components</a></li>
                <li class="active">Location</li>
            </ul>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="content-wrapper">

        <!-- Sidebars overview -->
        <div class="panel panel-success panel-bordered ">
            <div class="panel-heading">
                <h5 class="panel-title">{{ proyek.nama }}</h5>
                <div class="heading-elements">
                    <ul class="icons-list">
                        <li><a data-action="collapse"></a></li>
                        <li><a data-action="reload"></a></li>
                        <li><a data-action="close"></a></li>
                    </ul>
                </div>
            </div>
            <div class="panel-body">
                Penanggung Jawab :{{ proyek.pjProyek }}
                <br>
                {{ proyek.user.get_full_name }}
                <br>
                <a href="{% url 'pm:update_proyek' proyek.id %}">EDIT</a>

                <div class="col-lg-12 text-right">
                    <label class="display-block text-semibold">
                        <a href="{% url 'pm:tambah_organisasi' proyek.id %}"><input type="button"
                                                                                    class="btn bg-blue"
                                                                                    value="Tambah Organisasi"></a>
                    </label>
                </div>
                <table class="table datatable-basic">
                    <thead>
                    <tr>
                        <th class="text-center">Nama Organisasi</th>
                        <th class="text-center">Nama Narasumber</th>
                        <th class="text-center">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for foo in organisasi %}
                        <tr>
                            <td>{{ foo.nama_organisasi }}</td>
                            <td>
                                {% if foo.narasumber is None %}
                                    Belum ada Narasumber
                                {% else %}
                                    {{ foo.narasumber }}
                                {% endif %}
                            </td>
                            <td class="text-center">
                                <ul class="icons-list">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <i class="icon-menu9"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li><a href="{% url 'pm:detail_organisasi' foo.pk %}">EDIT</a></li>
                                            <li><a href="{% url 'pm:hapus_organisasi' foo.pk %}">HAPUS</a></li>
                                            <li><a href="{% url 'pm:plot_surveyor' foo.pk %}">PLOT SURVEYOR</a></li>
                                            <li><a href="{% url 'pm:detail_organisasi_surveyor' foo.pk %}">DETAIL
                                                SURVEYOR</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
                {#            ============#}


            </div>
        </div>

        <!-- /sidebar classes -->

    </div>


{% endblock %}

{% block costum_js %}

    <script type="text/javascript" src="{% static 'assets/js/plugins/tables/datatables/datatables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/plugins/forms/selects/select2.min.js' %}"></script>
    <script>
        $.extend($.fn.dataTable.defaults, {
            autoWidth: false,
            columnDefs: [{
                orderable: false,
                width: '100px'
            }],
            dom: '<"datatable-header"fl><"datatable-scroll"t><"datatable-footer"ip>',
            language: {
                search: '<span>Filter:</span> _INPUT_',
                searchPlaceholder: 'Type to filter...',
                lengthMenu: '<span>Show:</span> _MENU_',
                paginate: {'first': 'First', 'last': 'Last', 'next': '&rarr;', 'previous': '&larr;'}
            },
            drawCallback: function () {
                $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').addClass('dropup');
            },
            preDrawCallback: function () {
                $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').removeClass('dropup');
            }
        });


        // Basic datatable
        $('.datatable-basic').DataTable();
    </script>


{% endblock %}
{% block costum_css %}{% endblock %}