{% extends 'base.html' %}
{% load widget_tweaks %}
{% load staticfiles %}
{% block costum_css %}
    <link href="{% static 'assets/css/survey/survey.css' %}" type="text/css" rel="stylesheet"/>
{% endblock %}
{% block costum_js %}

    <script src="{% static 'assets/js/plugins/survey/survey.jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/survey/popper.min.js' %}"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>

    <script type="text/javascript">
        var surveyJSON =
        {{ perangkat.perangkat | safe}}
        ;

        var defaultThemeColors = Survey
            .StylesManager
            .ThemeColors["default"];
        defaultThemeColors["$main-color"] = "#1565c0";
        defaultThemeColors["$main-hover-color"] = "#0d47a1";
        defaultThemeColors["$text-color"] = "#4a4a4a";
        defaultThemeColors["$header-color"] = "#7ff07f";

        defaultThemeColors["$header-background-color"] = "#4a4a4a";
        defaultThemeColors["$body-container-background-color"] = "#f8f8f8";
        Survey.StylesManager.applyTheme();


        var survey = new Survey.Model(surveyJSON);
        $("#surveyContainer").Survey({
            model: survey,
            onComplete: sendDataToServer
        });

        function sendDataToServer(survey) {
            var resultAsString = JSON.stringify(survey.data);
            alert(resultAsString); //send Ajax request to your web server.
        }


        survey.surveyPostId = 'e544a02f-7fff-4ffb-b62d-6a9aa16efd7c';

        //You may call survey.sendResult function as another option.
        function sendDataToServer(survey) {
            survey.sendResult('e544a02f-7fff-4ffb-b62d-6a9aa16efd7c');
        }

    </script>
{% endblock %}

{% block breadcrumb %}
    <div class="page-header-content">
        <div class="page-title">
            <h5>
                <i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Header</span> -
                Breadcrumb
                <small class="display-block">Basic breadcrumb inside page header</small>
            </h5>
        </div>

        <div class="heading-elements">
            <ul class="breadcrumb heading-text">
                <li><a href="{% url 'pm:dashboard' %}"><i class="icon-home2 position-left"></i> Home</a></li>
                <li><a href="components_breadcrumbs.html">Components</a></li>
                <li class="active">Location</li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="content-wrapper">

        <!-- Sidebars overview -->
        <div class="panel panel-success ">
            <div class="panel-heading">
                <h5 class="panel-title">Proyek </h5>
                <div class="heading-elements">
                    <ul class="icons-list">
                        <li><a data-action="collapse"></a></li>
                        <li><a data-action="reload"></a></li>
                        <li><a data-action="close"></a></li>
                    </ul>
                </div>
            </div>

            <div class="panel-body">
                <div id="surveyContainer"></div>

                {{ perangkat.perangkat }}

                <div class="col-lg-12 text-right">
                    <label class="display-block text-semibold">
{#                        <a href="{% url 'pm:hapus_perangkat' perangkat.pk%}"><input type="button" class="btn bg-danger" value="Hapus Perangkat" ></a>#}


                    </label>
                </div>
            </div>

        </div>

        <!-- /sidebar classes -->

    </div>
{% endblock %}