{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block breadcrumb %}
    <div class="page-header-content">
        <div class="page-title">
            <h5>
                <i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Header</span> -
                Breadcrumb
                <small class="display-block">Basic breadcrumb inside page header</small>
            </h5>
        </div>

        <div class="heading-elements">
            <ul class="breadcrumb heading-text">
                <li><a href="{% url 'pm:dashboard' %}"><i class="icon-home2 position-left"></i> Home</a></li>
                <li><a href="components_breadcrumbs.html">Components</a></li>
                <li class="active">Location</li>
            </ul>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="content-wrapper">

        <!-- Sidebars overview -->
        <div class="panel panel-success ">
            <div class="panel-heading">
                <h5 class="panel-title">Project</h5>
                <div class="heading-elements">
                    <ul class="icons-list">
                        <li><a data-action="collapse"></a></li>
                        <li><a data-action="reload"></a></li>
                        <li><a data-action="close"></a></li>
                    </ul>
                </div>
            </div>

            <div class="panel-body">
                <button id="saveToPDFbtn" class="btn bg-blue">Save to PDF</button>
                <br>
                <br>

                <div id="surveyElement"></div>
            </div>
        </div>

        <!-- /sidebar classes -->

    </div>


{% endblock %}



{% block costum_js %}
    <script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
    <script src="https://surveyjs.azureedge.net/1.1.3/survey.pdf.js"></script>
    <script>
        function renderSurvey(survey, element) {
            survey.render(element);
        }

        Survey
            .StylesManager
            .applyTheme("default");

        var json = {{ data.get_survey | safe}};

        window.survey = new Survey.Model(json);

        survey
            .onComplete
            .add(function (result) {
                document
                    .querySelector('#surveyResult')
                    .textContent = "Result JSON:\n" + JSON.stringify(result.data, null, 3);
            });

        survey.mode = 'display';
        $("#surveyElement").Survey({model: survey});


        function saveSurveyToPdf(filename, surveyModel, pdfWidth, pdfHeight) {
            var options = {
                fontSize: 14,
                margins: {
                    left: 10,
                    right: 10,
                    top: 10,
                    bot: 10
                },
                format: [pdfWidth, pdfHeight]
            };
            var surveyPDF = new SurveyPDF.Survey(json, options);
            surveyPDF.data = surveyModel.data;
            surveyPDF.save(filename);
        }

        document
            .getElementById("saveToPDFbtn")
            .onclick = function () {
            var pdfWidth = survey.pdfWidth || 210;
            var pdfHeight = survey.pdfHeight || 297;
            saveSurveyToPdf(
                "{{ data.get_organisasi_name}}", survey, pdfWidth, pdfHeight);
        }

        survey.data = {{ data.hasil_survey |safe }};
        ;
    </script>


{% endblock %}
{% block costum_css %}
    <script src="https://surveyjs.azureedge.net/1.1.3/survey.jquery.js"></script>
    <link href="https://surveyjs.azureedge.net/1.1.3/survey.css" type="text/css" rel="stylesheet"/>
{% endblock %}
